@font-face {
  font-family: zpix;
  src: url(./fonts/zpix.woff2)
}

body {
  background-color: #16161a;
  color: #fffffe;

  margin: 50px;
  border: 25px;
  display: block;
  overflow: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font: 3em zpix;
}

h2 {
  margin: 5px;
}

u {
  font: 1.5rem zpix;
  text-decoration: underline solid #00FFFF;
  margin: 5px;
}


li,
a {
  display: flex;
  list-style: none;
  color: #fffffe;
}

.Game li {
  padding-right: 22px;
  list-style: none;
  display: inline-block;
}


@media screen and (min-width: 1080px) and (orientation: landscape) {
  body {
    display: flex;
  }

  h1 {
    position: relative;
    left: 50px;
    width: 40%;
    font-size: 9em;
  }

  .card-wrapper {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
  }

  .card {
    margin: 24px;
    padding: 15px;
    background-color: #242629;
    border-radius: 3px;
    width: 36em;
    height: 10em;
  }

  .card>ul>li {
    display: inline;
  }

  .card>ul>li>a {
    display: inline;
  }

  h2 u {
    font-size: 1.5em;
    padding: 10px;
  }

  li {
    font-size: 1em;
  }
}